body {
  margin: 0%;
  padding: 0%;
  background: url(./img/bg.png) center center fixed no-repeat;
  background-size: cover;
}

.my-navbar {
  background-color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
}

.home-section {
  text-align: center;
  border-radius: 50%;
  display: block;
  margin-top: 2.5em;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.my-img {
  margin: 2em 0;
}

#my-name {
  font-size: 1.6em;
  font-style: bold;
  color: blanchedalmond;
}

.img-name {
  margin: 1em;
  color: blanchedalmond;
  font-size: 1.4em;
}

.social {
  margin: auto;
  text-align: center;
  /* background-color: #202020; */
  width: 100%;
  /* border-radius: 1em; */
  /* position: relative; */
}

.insta {
  color: crimson;
}

.github {
  color: #ffffff;
}
.linkedi {
  color: #0072b1;
}

.email {
  color: #4285f4;
}

.social a:hover {
  color: goldenrod;
}

.social ul {
  margin: 0;
  padding: 0;
  padding: 0.4em 0;
}

.social ul li {
  list-style-type: none;
  text-decoration: none;
  display: inline;
}

.social ul li a {
  padding: 0 1em;
}

.aboutme {
  color: #fff;
  margin: auto;
  padding: 1.4em;
  text-align: center;
  font-size: large;
}

.aboutme h1 {
  font-family: "Hammersmith One", sans-serif;
}

.skills {
  margin: auto;
  padding: 1.4em;
  text-align: center;
  color: #fff;
}

.skills h1 {
  font-family: "Hammersmith One", sans-serif;
}

.skills h2 {
  padding: 1em;
  font-family: "Quicksand", sans-serif;
}

.Education {
  margin: auto;
  padding: 1.4em;
  text-align: center;
  color: #fff;
}
.eduTable {
  color: white;
  font-style: bold;
  font-size: 1.1em;
}
.eduTable li {
  border: 1px solid white;
  padding: 1em 2em;
  background-color: transparent;
  color: white;
}

.Education h1 {
  font-family: "Hammersmith One", sans-serif;
}

.col-xs-4 {
  border: 1px solid black;
  text-align: center;
}

.footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px;
}

.col {
  border: 1px solid black;
}

.long-row {
  font-size: 0.1rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
